extends ../layout

//css Fixes: 
  //- 1. make header height bigger/ text vertical align center 
  //- 2. justify input fields over in one column including button and checkbox 
  //- 3. get excerpt and articleBody labels to be above textareas 

block content
  div#header 
    a(href = "/articles/")
      h1 The Zine

  div#container 
    h2 New Article
    form(method='post' action='/articles')
      div.title
        label(for='title') Title 
        input(type ='text' id='title' name='title' size='100')
      
      div.url
        label(for='url') Background URL 
        input(type ='url'  id='url' name='url' size='100')
        
      div.background
        input(type='checkbox' id='background' name='background')
        label(for='background') Background image has dark colors
      
      div.excerpt 
        label(for='excerpt') Excerpt 
        textarea(name='excerpt' id='excerpt' rows='10' cols='50')
        
      div.articleBody  
        label(for='articleBody') Body 
        textarea(name='articleBody' id='articleBody' rows='10' cols='50')

      div.button
        input(type='submit' id='button' value='Add Article')
